@import url("https://fonts.googleapis.com/css2?family=Bilbo&family=Merriweather:ital@0;1&family=Mulish:wght@200;300;500&family=Signika+Negative:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  box-sizing: border-box; }

section {
  margin-bottom: 100px; }
  section .title-div {
    text-align: center;
    padding: 30px; }
    section .title-div h2 {
      text-align: center;
      font-family: Merriweather;
      font-size: 30px;
      font-weight: 200;
      margin-top: 10px;
      margin-bottom: 20px; }
    section .title-div h3 {
      text-align: center;
      font-family: Mulish;
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 30px;
      color: #F26D1F; }

.hero {
  grid-area: hero; }
  .hero .hero-div {
    padding-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px; }
    .hero .hero-div .cel-index-img {
      position: absolute;
      visibility: hidden;
      width: 50%; }
    .hero .hero-div div h1 {
      font-family: Mulish;
      font-size: 50px;
      font-weight: 200;
      color: #A1137C; }
    .hero .hero-div div h2 {
      font-family: Bilbo;
      font-weight: 400;
      font-size: 70px; }
    .hero .hero-div .web-index-img {
      width: 50%; }

.bxl-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.bxl-facebook {
  background: #3b5998; }

.bxl-whatsapp {
  background: #00e676; }

.bx-phone-call,
.bx-envelope,
.bx-map-pin {
  color: #A1137C; }

.card-body {
  margin: 5%; }

.carousel-control-prev-icon {
  background-color: #2ba013; }

.carousel-control-next-icon {
  background-color: #2ba013; }

.carousel-item-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 10% 2% 10%;
  text-align: center; }

.boton {
  text-decoration: none;
  font-family: Mulish;
  font-weight: 500;
  font-size: 20px;
  padding: 4%;
  color: white;
  background-color: #2ba013;
  border-radius: 30px;
  transition: 300ms;
  border: 2px solid #2ba013; }
  .boton:hover {
    background: white;
    color: #2ba013; }

.card {
  width: 239px;
  height: 400px;
  margin: 5px; }

header {
  position: fixed;
  width: 100%;
  background-color: #2ba013ec;
  z-index: 1;
  box-shadow: 2px 2px 10px 1px #0000009d; }
  header .celular-navbar {
    background-color: #2ba013;
    color: #fff;
    height: 70px;
    padding: 10px 12px;
    display: none; }
    header .celular-navbar img {
      height: 100%; }
    header .celular-navbar input {
      position: absolute;
      top: 5px;
      right: 12px;
      cursor: pointer;
      width: 34px;
      height: 34px;
      opacity: 0; }
      header .celular-navbar input:checked ~ .bx-menu {
        display: none; }
      header .celular-navbar input:checked ~ .bx-menu-alt-right {
        display: block; }
      header .celular-navbar input:checked ~ .menu {
        top: 70px;
        z-index: 0; }
    header .celular-navbar i {
      position: absolute;
      top: 5px;
      right: 12px;
      cursor: pointer;
      width: 34px;
      height: 34px;
      pointer-events: none;
      font-size: 35px;
      padding-top: 10px; }
    header .celular-navbar ul {
      width: 100%;
      position: absolute;
      top: -200px;
      z-index: -1;
      left: 0;
      transition: 300ms;
      padding-left: 0; }
      header .celular-navbar ul li {
        list-style: none; }
        header .celular-navbar ul li a {
          text-align: center;
          background-color: #2ba013ec;
          text-decoration: none;
          color: #fff;
          display: block;
          padding: 10px; }
          header .celular-navbar ul li a:hover {
            background-color: #A1137C; }
  header .web-navbar ul {
    padding: 0;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
    header .web-navbar ul .navbar-left {
      display: flex;
      padding: 1px 40px 10px 0;
      border-bottom: 1px solid #ffffff71; }
      header .web-navbar ul .navbar-left li {
        list-style: none; }
        header .web-navbar ul .navbar-left li a {
          text-decoration: none;
          font-family: Mulish;
          font-weight: 500;
          font-size: 20px;
          color: #fff;
          transition: 250ms;
          padding-bottom: 10px;
          margin-right: 30px; }
          header .web-navbar ul .navbar-left li a:hover {
            color: #A1137C;
            /* ! revisar por que en firefox se ve ligeramente diferente que en chrome, opera y brave */
            border-bottom: 1px solid #A1137C; }
    header .web-navbar ul .navbar-right {
      display: flex;
      padding: 1px 0 10px 40px;
      border-bottom: 1px solid #ffffff71; }
      header .web-navbar ul .navbar-right li {
        list-style: none; }
        header .web-navbar ul .navbar-right li a {
          text-decoration: none;
          font-family: Mulish;
          font-weight: 500;
          font-size: 20px;
          color: #fff;
          transition: 250ms;
          padding-bottom: 10px;
          padding-left: 30px; }
          header .web-navbar ul .navbar-right li a:hover {
            color: #A1137C;
            /* ! revisar por que en firefox se ve ligeramente diferente que en chrome, opera y brave */
            border-bottom: 1px solid #A1137C; }
    header .web-navbar ul li {
      list-style: none; }
      header .web-navbar ul li a img {
        height: 50px;
        margin: 2px 40px 3px 40px;
        transition: 250ms; }
        header .web-navbar ul li a img:hover {
          scale: 130%; }

.index-main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "hero hero hero" ". que-es ." ". proyectate ." ". variedad ."; }
  .index-main #que-es {
    grid-area: que-es; }
    .index-main #que-es .right-fusion-paragraph-div {
      display: flex;
      justify-content: center;
      align-items: center; }
      .index-main #que-es .right-fusion-paragraph-div img {
        max-width: 60%; }
      .index-main #que-es .right-fusion-paragraph-div div {
        text-align: center; }
        .index-main #que-es .right-fusion-paragraph-div div p {
          font-family: Mulish;
          font-size: 19px;
          margin: 50px;
          text-align: left; }
  .index-main #proyectate {
    grid-area: proyectate; }
    .index-main #proyectate .left-fusion-paragraph-div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center; }
      .index-main #proyectate .left-fusion-paragraph-div img {
        max-width: 60%; }
      .index-main #proyectate .left-fusion-paragraph-div div {
        text-align: center; }
        .index-main #proyectate .left-fusion-paragraph-div div p {
          font-family: Mulish;
          font-size: 19px;
          margin: 50px;
          text-align: left; }
        .index-main #proyectate .left-fusion-paragraph-div div a {
          text-decoration: none;
          font-family: Mulish;
          font-weight: 500;
          font-size: 20px;
          padding: 4%;
          color: white;
          background-color: #2ba013;
          border-radius: 30px;
          transition: 300ms;
          border: 2px solid #2ba013; }
          .index-main #proyectate .left-fusion-paragraph-div div a:hover {
            background: white;
            color: #2ba013; }
  .index-main #variedad {
    grid-area: variedad; }
    .index-main #variedad .product-div {
      display: flex;
      justify-content: center;
      align-items: center; }
      .index-main #variedad .product-div div {
        margin: 30px;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
        width: 364px;
        transition: 250ms; }
        .index-main #variedad .product-div div:hover {
          scale: 110%;
          box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.2); }
        .index-main #variedad .product-div div a {
          text-decoration: none; }
          .index-main #variedad .product-div div a img {
            margin-bottom: 4px;
            width: 100%; }
          .index-main #variedad .product-div div a h4 {
            text-decoration: none;
            font-family: Mulish;
            font-weight: 500;
            font-size: 20px;
            margin-left: 10px;
            color: black; }
          .index-main #variedad .product-div div a p {
            text-decoration: none;
            font-family: Mulish;
            font-weight: 200;
            font-size: 15px;
            margin-left: 10px;
            color: #7a877f;
            width: 320px;
            margin-bottom: 10px; }

.contacto-main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "contacto contacto contacto" "mapa mapa mapa" ". comercios ."; }
  .contacto-main .contact-section {
    background-image: url("../img/salad-banner3.jpg");
    background-size: cover;
    padding: 5%;
    grid-area: contacto; }
    .contacto-main .contact-section div form {
      position: relative;
      left: 10%;
      font-weight: 200;
      width: 500px; }
      .contacto-main .contact-section div form h4 {
        font-family: Merriweather;
        margin-bottom: 7px; }
      .contacto-main .contact-section div form .input-div {
        position: relative;
        margin: 15px; }
        .contacto-main .contact-section div form .input-div input {
          font-family: inherit;
          color: black;
          padding: 10px;
          border: none;
          border-radius: 4px;
          outline: 2px solid black;
          background-color: transparent;
          transition: outline-color 500ms;
          width: 450px; }
          .contacto-main .contact-section div form .input-div input:focus + .input-label,
          .contacto-main .contact-section div form .input-div input:valid + .input-label {
            padding-inline: 5px;
            translate: 10px -10px;
            scale: 0.8;
            background-color: white;
            color: #2ba013;
            font-weight: 700; }
          .contacto-main .contact-section div form .input-div input:is(:focus, :valid) {
            border: 5px solid #2ba013; }
        .contacto-main .contact-section div form .input-div label {
          position: absolute;
          top: 0;
          left: 0;
          translate: 10px 10px;
          color: black;
          transition: translate 500ms, scale 500ms; }
      .contacto-main .contact-section div form .textarea-div {
        position: relative;
        margin: 15px; }
        .contacto-main .contact-section div form .textarea-div textarea {
          font: inherit;
          color: black;
          padding: 10px;
          border: none;
          border-radius: 4px;
          outline: 2px double black;
          background-color: transparent;
          transition: outline-color 500ms;
          width: 450px; }
          .contacto-main .contact-section div form .textarea-div textarea:focus + .textarea-label,
          .contacto-main .contact-section div form .textarea-div textarea:valid + .textarea-label {
            padding-inline: 5px;
            translate: 10px -10px;
            scale: 0.8;
            background-color: white;
            color: #2ba013;
            font-weight: 700; }
          .contacto-main .contact-section div form .textarea-div textarea:is(:focus, :valid) {
            border: 5px solid #2ba013; }
        .contacto-main .contact-section div form .textarea-div label {
          position: absolute;
          top: 0;
          left: 0;
          translate: 10px 10px;
          color: black;
          transition: translate 500ms, scale 500ms; }
      .contacto-main .contact-section div form button {
        text-decoration: none;
        font-family: Mulish;
        font-weight: 500;
        font-size: 20px;
        padding: 15px;
        color: white;
        background-color: #2ba013;
        border-radius: 30px;
        transition: 300ms;
        border: 2px solid #2ba013; }
        .contacto-main .contact-section div form button:hover {
          background: white;
          color: #2ba013; }
  .contacto-main .map-section {
    grid-area: mapa;
    background-image: url("../img/fondo-verduras.jpg");
    margin-bottom: 50px; }
    .contacto-main .map-section div {
      background-color: white; }
    .contacto-main .map-section iframe {
      box-shadow: 5px 5px 10px 1px #0000008c; }
  .contacto-main .comercios-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: comercios; }
    .contacto-main .comercios-section .carousel-comercios-div {
      max-width: 40%; }

.nosotros-main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "hero hero hero" ". historia ." "equipo equipo equipo" ". pip ."; }
  .nosotros-main #historia {
    grid-area: historia; }
    .nosotros-main #historia div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px; }
      .nosotros-main #historia div p {
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        margin-bottom: 10px; }
  .nosotros-main #equipo {
    grid-area: equipo; }
    .nosotros-main #equipo .large-content-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("../img/fondo-verduras.jpg");
      padding-bottom: 100px; }
      .nosotros-main #equipo .large-content-div div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%; }
        .nosotros-main #equipo .large-content-div div img {
          max-width: 60%;
          box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.8); }
        .nosotros-main #equipo .large-content-div div div p {
          text-decoration: none;
          font-family: Mulish;
          font-weight: 500;
          font-size: 20px;
          color: black;
          background-color: rgba(255, 255, 255, 0.466);
          padding: 5px;
          width: 600px;
          position: relative;
          left: -30%;
          box-shadow: 5px 5px 10px 1px #0000008c; }
  .nosotros-main .pip-section {
    grid-area: pip; }
    .nosotros-main .pip-section div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px; }
      .nosotros-main .pip-section div p {
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        margin-bottom: 10px; }

.procesos-main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "hero hero hero" ". elaboracion ." ". matprima ."; }
  .procesos-main #elaboracion {
    grid-area: elaboracion; }
    .procesos-main #elaboracion .right-fusion-paragraph-div {
      display: flex;
      justify-content: center;
      align-items: center; }
      .procesos-main #elaboracion .right-fusion-paragraph-div img {
        max-width: 60%; }
      .procesos-main #elaboracion .right-fusion-paragraph-div .fusion-paragrapfh-div {
        text-align: center; }
        .procesos-main #elaboracion .right-fusion-paragraph-div .fusion-paragrapfh-div p {
          font-family: Mulish;
          font-size: 19px;
          margin: 50px;
          text-align: left; }
  .procesos-main #materia-prima {
    grid-area: matprima; }
    .procesos-main #materia-prima .left-fusion-paragraph-div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center; }
      .procesos-main #materia-prima .left-fusion-paragraph-div img {
        max-width: 60%; }
      .procesos-main #materia-prima .left-fusion-paragraph-div .fusion-paragrapfh-div {
        text-align: center; }
        .procesos-main #materia-prima .left-fusion-paragraph-div .fusion-paragrapfh-div p {
          font-family: Mulish;
          font-size: 19px;
          margin: 50px;
          text-align: left; }

.productos-main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "hero hero hero" ". product ."; }
  .productos-main .product-section {
    grid-area: product; }
    .productos-main .product-section .left-product-div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 70px; }
      .productos-main .product-section .left-product-div div h2 {
        font-family: Mulish;
        font-size: 20px;
        font-weight: 200;
        padding-left: 30px;
        padding-right: 30px; }
      .productos-main .product-section .left-product-div div h3 {
        font-family: Merriweather;
        font-size: 17px;
        font-weight: 200;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 30px;
        width: 400px;
        color: #7a877f; }
    .productos-main .product-section .right-product-div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 70px; }
      .productos-main .product-section .right-product-div div h2 {
        font-family: Mulish;
        font-size: 20px;
        font-weight: 200;
        padding-left: 30px;
        padding-right: 30px; }
      .productos-main .product-section .right-product-div div h3 {
        font-family: Merriweather;
        font-size: 17px;
        font-weight: 200;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 30px;
        width: 400px;
        color: #7a877f; }

footer {
  background: linear-gradient(#2ba01391, #2ba01391), url("../img/vectorlechuga.jpg");
  box-shadow: 0 -2px 20px 1px #00000079;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px; }
  footer .box-footer-div {
    width: 70%; }
    footer .box-footer-div .content-footer-div {
      display: flex;
      justify-content: space-between;
      align-items: top;
      margin-bottom: 50px;
      border-bottom: 5px solid #A1137C; }
      footer .box-footer-div .content-footer-div div ul {
        list-style: none; }
        footer .box-footer-div .content-footer-div div ul .title-footer-li {
          margin-bottom: 20px; }
          footer .box-footer-div .content-footer-div div ul .title-footer-li a {
            text-decoration: none;
            font-family: Mulish;
            font-weight: 500;
            font-size: 30px;
            color: #fff;
            border-bottom: 2px solid #fff;
            transition: 250ms; }
            footer .box-footer-div .content-footer-div div ul .title-footer-li a:hover {
              color: #A1137C;
              border-bottom: 2px solid #A1137C; }
        footer .box-footer-div .content-footer-div div ul .item-footer-li {
          margin-bottom: 10px; }
          footer .box-footer-div .content-footer-div div ul .item-footer-li a {
            text-decoration: none;
            font-family: Mulish;
            font-weight: 500;
            font-size: 20px;
            color: #fff; }
            footer .box-footer-div .content-footer-div div ul .item-footer-li a:hover {
              transition: color 0.5s;
              color: #A1137C; }
      footer .box-footer-div .content-footer-div div div ul .title-footer-li a {
        text-decoration: none;
        font-family: Mulish;
        font-weight: 500;
        font-size: 30px;
        color: #fff;
        border-bottom: 2px solid #fff;
        transition: 250ms; }
        footer .box-footer-div .content-footer-div div div ul .title-footer-li a:hover {
          color: #A1137C;
          border-bottom: 2px solid #A1137C; }
      footer .box-footer-div .content-footer-div div div ul li p {
        font-family: Mulish;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 5px;
        color: #fff; }
        footer .box-footer-div .content-footer-div div div ul li p i {
          font-size: 30px; }
      footer .box-footer-div .content-footer-div div .media-footer-div ul {
        list-style: none;
        display: flex; }
        footer .box-footer-div .content-footer-div div .media-footer-div ul li a i {
          margin: 10px 35px 10px 0;
          font-size: 40px;
          border-radius: 30px;
          padding: 5px;
          color: white;
          transition: 250ms; }
          footer .box-footer-div .content-footer-div div .media-footer-div ul li a i:hover {
            scale: 120%; }
    footer .box-footer-div .copy-footer-div {
      display: flex;
      justify-content: space-between;
      align-items: end; }
      footer .box-footer-div .copy-footer-div img {
        width: 30%; }
      footer .box-footer-div .copy-footer-div p {
        margin-top: 10px;
        color: #fff; }

/*1440px*/
@media screen and (max-width: 1440px) {
  .index-main #que-es .right-fusion-paragraph-div {
    flex-direction: column; }
    .index-main #que-es .right-fusion-paragraph-div div p {
      text-align: center; }
  .index-main #proyectate .left-fusion-paragraph-div {
    flex-direction: column; }
    .index-main #proyectate .left-fusion-paragraph-div div p {
      text-align: center; }
    .index-main #proyectate .left-fusion-paragraph-div div a {
      padding: 2%; }
  .index-main #variedad .product-div div {
    margin: 10px;
    width: 300px; }
  .contacto-main .contact-section {
    width: 100%;
    background-image: url(../img/salad-banner4.jpg); }
  .procesos-main #elaboracion .right-fusion-paragraph-div {
    flex-direction: column; }
    .procesos-main #elaboracion .right-fusion-paragraph-div .fusion-paragrapfh-div p {
      text-align: center; }
  .procesos-main #materia-prima .left-fusion-paragraph-div {
    flex-direction: column; }
    .procesos-main #materia-prima .left-fusion-paragraph-div .fusion-paragrapfh-div p {
      text-align: center; }
  .productos-main .product-section {
    grid-area: product; }
    .productos-main .product-section .left-product-div {
      flex-direction: column;
      align-items: center; }
      .productos-main .product-section .left-product-div div h2 {
        text-align: center;
        width: 100%; }
      .productos-main .product-section .left-product-div div h3 {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        width: 100%; }
    .productos-main .product-section .right-product-div {
      flex-direction: column; }
      .productos-main .product-section .right-product-div div h2 {
        text-align: center;
        width: 100%; }
      .productos-main .product-section .right-product-div div h3 {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        width: 100%; }
  footer .box-footer-div .content-footer-div div ul .title-footer-li a {
    font-size: 26px; }
  footer .box-footer-div .content-footer-div div ul .item-footer-li a {
    font-size: 20px; }
  footer .box-footer-div .content-footer-div div div ul .title-footer-li a {
    font-size: 26px; }
  footer .box-footer-div .content-footer-div div div ul li p {
    font-size: 18px; }
  .hero .hero-div div h1 {
    font-size: 40px; }
  .hero .hero-div div h2 {
    font-size: 60px; } }

/*1300px*/
@media screen and (max-width: 1300px) {
  footer .box-footer-div .content-footer-div {
    margin-bottom: 10px; }
    footer .box-footer-div .content-footer-div div ul .title-footer-li {
      margin-bottom: 15px; }
      footer .box-footer-div .content-footer-div div ul .title-footer-li a {
        font-size: 21px; }
    footer .box-footer-div .content-footer-div div ul .item-footer-li a {
      font-size: 15px; }
    footer .box-footer-div .content-footer-div div div ul .title-footer-li a {
      font-size: 21px; }
    footer .box-footer-div .content-footer-div div div ul li p {
      font-size: 15px; }
      footer .box-footer-div .content-footer-div div div ul li p i {
        font-size: 20px; }
    footer .box-footer-div .content-footer-div div .media-footer-div ul li a i {
      margin-top: 5px;
      margin-right: 30px;
      font-size: 30px; } }

/*1100px*/
@media screen and (max-width: 1100px) {
  header .web-navbar {
    background-color: #2ba013; }
  .index-main #variedad .product-div {
    flex-wrap: wrap; }
  .contacto-main .contact-section {
    background-image: none;
    margin-top: 30px; }
    .contacto-main .contact-section div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contacto-main .contact-section div form {
        position: static;
        text-align: center; }
  .contacto-main .comercios-section {
    margin-bottom: 5%; }
  .nosotros-main #equipo .large-content-div {
    max-width: 100%; }
    .nosotros-main #equipo .large-content-div div {
      flex-direction: column; }
      .nosotros-main #equipo .large-content-div div img {
        max-width: 100%; }
      .nosotros-main #equipo .large-content-div div div {
        width: 100%; }
        .nosotros-main #equipo .large-content-div div div p {
          text-align: center;
          background-color: rgba(255, 255, 255, 0.849);
          padding: 0;
          width: 100%;
          margin-top: 15px;
          position: static;
          left: 0; }
  .nosotros-main .pip-section div iframe {
    width: 98%; }
  footer .box-footer-div {
    width: 98%; }
  .hero .hero-div {
    flex-direction: column;
    padding-left: 0%;
    margin: 0;
    text-align: center; }
    .hero .hero-div .cel-index-img {
      visibility: visible;
      padding-top: 10%;
      margin-bottom: 2%;
      position: static; }
    .hero .hero-div .web-index-img {
      visibility: hidden;
      position: absolute; }
  section {
    margin-bottom: 5%; }
  .carusel {
    scale: 90%; } }

/*1010px*/
@media screen and (max-width: 1010px) {
  .hero .hero-div div h1 {
    font-size: 35px; }
  .hero .hero-div div h2 {
    font-size: 55px; }
  section .title-div {
    padding: 15px; }
    section .title-div h2 {
      font-size: 25px; }
    section .title-div h3 {
      font-size: 25px; } }

/*950px*/
@media screen and (max-width: 950px) {
  header .celular-navbar {
    display: block; }
  header .web-navbar {
    display: none; }
  .index-main {
    grid-template-columns: 2% 96% 2%; }
  .contacto-main {
    grid-template-columns: 2% 96% 2%; }
  .nosotros-main {
    grid-template-columns: 2% 96% 2%; }
    .nosotros-main .pip-section div iframe {
      width: 600px;
      height: 300px; }
  .procesos-main {
    grid-template-columns: 2% 96% 2%; }
  .productos-main {
    grid-template-columns: 2% 96% 2%; }
  .carusel {
    scale: 80%; } }

/*800px*/
@media screen and (max-width: 800px) {
  .index-main .hero .hero-div .cel-index-img {
    padding-top: 15%; }
  .nosotros-main .hero .hero-div .cel-index-img {
    padding-top: 15%; }
  .procesos-main .hero .hero-div .cel-index-img {
    padding-top: 15%; }
  .productos-main .hero .hero-div .cel-index-img {
    padding-top: 15%; }
  footer .box-footer-div .content-footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .box-footer-div .content-footer-div div ul {
      text-align: center;
      padding-top: 10px; }
      footer .box-footer-div .content-footer-div div ul .title-footer-li a {
        border-bottom: none; }
        footer .box-footer-div .content-footer-div div ul .title-footer-li a:hover {
          border-bottom: 5px solid #A1137C;
          border-top: 5px solid #A1137C;
          transition: border 200ms; }
      footer .box-footer-div .content-footer-div div ul .item-footer-li {
        display: none; }
    footer .box-footer-div .content-footer-div div div ul .title-footer-li a {
      border-bottom: none; }
      footer .box-footer-div .content-footer-div div div ul .title-footer-li a:hover {
        border-bottom: 5px solid #A1137C;
        border-top: 5px solid #A1137C;
        transition: border 200ms; }
  footer .box-footer-div .copy-footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .carusel {
    scale: 60%; } }

/*600px*/
@media screen and (max-width: 600px) {
  .index-main .hero .hero-div .cel-index-img {
    padding-top: 20%; }
  .index-main #variedad .product-div div {
    width: 200px; }
    .index-main #variedad .product-div div a p {
      width: 200px; }
  .nosotros-main .hero .hero-div .cel-index-img {
    padding-top: 20%; }
  .nosotros-main #equipo .large-content-div div div p {
    font-size: 16px; }
  .nosotros-main .pip-section div iframe {
    width: 70%; }
  .procesos-main .hero .hero-div .cel-index-img {
    padding-top: 20%; }
  .productos-main .hero .hero-div .cel-index-img {
    padding-top: 20%; }
  .carusel {
    scale: 50%; } }

/*500px*/
@media screen and (max-width: 500px) {
  .index-main .hero .hero-div div h1 {
    font-size: 25px; }
  .index-main .hero .hero-div div h2 {
    font-size: 45px; }
  .index-main section .title-div img {
    width: 70px; }
  .index-main section .title-div h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .index-main section .title-div h3 {
    font-size: 20px;
    margin-bottom: 15px; }
  .index-main #que-es .right-fusion-paragraph-div img {
    max-width: 80%; }
  .index-main #proyectate .left-fusion-paragraph-div img {
    max-width: 80%; }
  .contacto-main section {
    margin-top: 40px; }
    .contacto-main section .title-div img {
      width: 70px; }
    .contacto-main section .title-div h2 {
      font-size: 20px;
      margin-bottom: 10px; }
    .contacto-main section .title-div h3 {
      font-size: 20px;
      margin-bottom: 15px; }
  .contacto-main .contact-section {
    margin-top: 40px; }
    .contacto-main .contact-section div form {
      width: 310px; }
      .contacto-main .contact-section div form .input-div input {
        width: 280px; }
      .contacto-main .contact-section div form .textarea-div textarea {
        width: 280px; }
  .nosotros-main section .title-div img {
    width: 70px; }
  .nosotros-main section .title-div h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .nosotros-main section .title-div h3 {
    font-size: 20px;
    margin-bottom: 15px; }
  .nosotros-main .hero .hero-div div h1 {
    font-size: 25px; }
  .nosotros-main .hero .hero-div div h2 {
    font-size: 45px; }
  .procesos-main .hero .hero-div div h1 {
    font-size: 25px; }
  .procesos-main .hero .hero-div div h2 {
    font-size: 45px; }
  .procesos-main section .title-div img {
    width: 70px; }
  .procesos-main section .title-div h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .procesos-main section .title-div h3 {
    font-size: 20px;
    margin-bottom: 15px; }
  .procesos-main #elaboracion .right-fusion-paragraph-div img {
    max-width: 80%; }
  .procesos-main #materia-prima .left-fusion-paragraph-div img {
    max-width: 80%; }
  .productos-main section .title-div img {
    width: 70px; }
  .productos-main section .title-div h2 {
    font-size: 20px;
    margin-bottom: 10px; }
  .productos-main section .title-div h3 {
    font-size: 20px;
    margin-bottom: 15px; }
  .productos-main .hero .hero-div div h1 {
    font-size: 25px; }
  .productos-main .hero .hero-div div h2 {
    font-size: 45px; } }

/*400px*/
@media screen and (max-width: 400px) {
  .index-main .hero .hero-div .cel-index-img {
    padding-top: 25%; }
  .nosotros-main .hero .hero-div .cel-index-img {
    padding-top: 25%; }
  .nosotros-main .pip-section div iframe {
    height: 70%; }
  .procesos-main .hero .hero-div .cel-index-img {
    padding-top: 25%; }
  .carusel {
    scale: 40%; } }
