header{
    position: fixed;
    width: 100%;
    background-color: $color-primario-transparente;
    z-index: 1;
    box-shadow: 2px 2px 10px 1px $color-sombra;
    .celular-navbar{
        background-color: $color-primario;
        color: $color-blanco;
        height: 70px;
        padding: 10px 12px;
        display: none;
        img{
            height: 100%;
        }
        input{
            position: absolute;
            top: 5px;
            right: 12px;
            cursor: pointer;
            width: 34px;
            height: 34px;
            opacity: 0;
            &:checked~.bx-menu {
                display: none;
            }
            &:checked~.bx-menu-alt-right {
                display: block;
            }
            &:checked~.menu {
                top: 70px;
                z-index: 0;
            }
        }
        i{
            position: absolute;
            top: 5px;
            right: 12px;
            cursor: pointer;
            width: 34px;
            height: 34px;
            pointer-events: none;
            font-size: 35px;
            padding-top: 10px;
        }
        ul{
            width: 100%;
            position: absolute;
            top: -200px;
            z-index: -1;
            left: 0;
            transition: 300ms;
            padding-left: 0;
            li{
                list-style: none;
                a{
                    text-align: center;
                    background-color: $color-primario-transparente;
                    text-decoration: none;
                    color: $color-blanco;
                    display: block;
                    padding: 10px;
                    &:hover {
                        background-color: $color-secundario;
                    }
                }
            }
        }
    }
    .web-navbar{
        ul{
            padding: 0;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            .navbar-left{
                display: flex;
                padding: 1px 40px 10px 0;
                border-bottom: 1px solid #ffffff71;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        font-family: Mulish;
                        font-weight: 500;
                        font-size: 20px;
                        color: $color-blanco;
                        transition: 250ms;
                        padding-bottom: 10px;
                        margin-right: 30px;
                        &:hover {
                            color: $color-secundario;
                            /* ! revisar por que en firefox se ve ligeramente diferente que en chrome, opera y brave */
                            border-bottom: 1px solid $color-secundario;
                        }
                    }
                }
            }
            .navbar-right{
                display: flex;
                padding: 1px 0 10px 40px;
                border-bottom: 1px solid #ffffff71;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        font-family: Mulish;
                        font-weight: 500;
                        font-size: 20px;
                        color: $color-blanco;
                        transition: 250ms;
                        padding-bottom: 10px;
                        padding-left: 30px;
                        &:hover {
                            color: $color-secundario;
                            /* ! revisar por que en firefox se ve ligeramente diferente que en chrome, opera y brave */
                            border-bottom: 1px solid $color-secundario;
                        }
                    }
                }
            }
            li{
                list-style: none;
                a{
                    img{
                        height: 50px;
                        margin: 2px 40px 3px 40px;
                        transition: 250ms;
                        &:hover {
                            scale: 130%;
                        }
                    }
                }
            }
        }
    }
}