.index-main {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "hero hero hero"
        ". que-es ."
        ". proyectate ."
        ". variedad .";
        
    #que-es {
        grid-area: que-es;
        .right-fusion-paragraph-div {
            @extend %flex-center;
            img {
                max-width: 60%;
            }

            div {
                text-align: center;
                p {
                    @include paragraphs(Mulish, 19px, left);
                    margin: 50px;
                }
            }
        }
    }


    #proyectate {
        grid-area: proyectate;

        .left-fusion-paragraph-div {
            @extend %flex-center-reverse;

            img {
                max-width: 60%;
            }

            div {
                text-align: center;

                p {
                    @include paragraphs(Mulish, 19px, left);
                    margin: 50px;
                }

                a {
                    @extend %boton;
                    padding: 4%;
                    &:hover {
                        background: nth($white-color, 3);
                        color: $primary-color;
                    }
                }
            }
        }
    }

    #variedad {
        grid-area: variedad;
        .product-div {
            @extend %flex-center;
            div {
                margin: 30px;
                box-shadow: 5px 5px 10px 1px nth($black-color, 1);
                width: 364px;
                transition: 250ms;

                &:hover {
                    scale: 110%;
                    box-shadow: 10px 10px 15px 1px nth($black-color, 2);
                }

                a {
                    text-decoration: none;

                    img {
                        margin-bottom: 4px;
                        width: 100%;
                    }

                    h4 {
                        text-decoration: none;
                        font-family: Mulish;
                        font-weight: 500;
                        font-size: 20px;
                        margin-left: 10px;
                        color: nth($black-color, 3);
                        padding: 10px 0 0 5px;
                    }

                    p {
                        @include paragraphs("Mulish", "15px", "none");
                        text-decoration: none;
                        font-weight: 200;
                        margin-left: 10px;
                        color: nth($white-color, 2);
                        width: 320px;
                        padding: 2px 0 10px 10px;
                    }
                }
            }
        }
    }
}
