.nosotros-main{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "hero hero hero"
        ". historia ."
        "equipo equipo equipo"
        ". pip .";
        
    #historia{
        grid-area: historia;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            p{
                text-align: center;
                font-family: Mulish;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }

    #equipo{
        grid-area: equipo;
        .large-content-div{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url("../img/fondo-verduras.jpg");
            padding-bottom: 100px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                img{
                    max-width: 60%;
                    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.8);
                }
                div{
                    p{
                        text-decoration: none;
                        font-family: Mulish;
                        font-weight: 500;
                        font-size: 20px;
                        color: black;
                        background-color: rgba(255, 255, 255, 0.466);
                        padding: 5px;
                        width: 600px;
                        position: relative;
                        left: -30%;
                        box-shadow: 5px 5px 10px 1px #0000008c;
                    }
                }
            }
        }
    }

    .pip-section{
        grid-area: pip;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            p{
                text-align: center;
                font-family: Mulish;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
}