.procesos-main{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "hero hero hero"
        ". elaboracion ."
        ". matprima .";

    #elaboracion{
        grid-area: elaboracion;
        .right-fusion-paragraph-div{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 60%;
            }
            .fusion-paragrapfh-div{
                text-align: center;
                p{
                    font-family: Mulish;
                    font-size: 19px;
                    margin: 50px;
                    text-align: left;
                }
            }
        }
    }

    #materia-prima{
        grid-area: matprima;
        .left-fusion-paragraph-div{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            img{
                max-width: 60%;
            }
            .fusion-paragrapfh-div{
                text-align: center;
                p{
                    font-family: Mulish;
                    font-size: 19px;
                    margin: 50px;
                    text-align: left;
                }
            }
        }
    }
}