.productos-main{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "hero hero hero"
        ". product .";

        .product-section{
            grid-area: product;
            .left-product-div{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 70px;
                div{
                    h2{
                        font-family: Mulish;
                        font-size: 20px;
                        font-weight: 200;
                        padding-left: 30px;
                        padding-right: 30px;
                        color: $tertiary-color;
                    }
                    h3{
                        font-family: Merriweather;
                        font-size: 17px;
                        font-weight: 200;
                        padding-left: 30px;
                        padding-right: 30px;
                        margin-left: 30px;
                        width: 400px;
                        color: nht($white-color, 2);
                    }
                }
            }
            .right-product-div{
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 70px;
                div{
                    h2{
                        font-family: Mulish;
                        font-size: 20px;
                        font-weight: 200;
                        padding-left: 30px;
                        padding-right: 30px;
                        color: $tertiary-color;
                    }
                    h3{
                        font-family: Merriweather;
                        font-size: 17px;
                        font-weight: 200;
                        padding-left: 30px;
                        padding-right: 30px;
                        margin-left: 30px;
                        width: 400px;
                        color: nht($white-color, 2);
                    }
                }
            }
        }
    }

