@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Merriweather:ital@0;1&family=Mulish:wght@200;300;500&family=Signika+Negative:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    line-height: 1.2;
    box-sizing: border-box;
}

section {
    margin-bottom: 100px;
}


.bxl-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.bxl-facebook {
    background: #3b5998;
}

.bxl-whatsapp {
    background: #00e676;
}

.bx-phone-call,
.bx-envelope,
.bx-map-pin {
    color: #A1137C;
}  

.card-body {
    margin: 5%;
}

.carousel-control-prev-icon {
    background-color: #2ba013;
}

.carousel-control-next-icon {
    background-color: #2ba013
}

.carousel-item-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 10% 2% 10%;
    text-align: center;
}

.boton {
    text-decoration: none;
    font-family: Mulish;
    font-weight: 500;
    font-size: 20px;
    padding: 4%;
    color: white;
    background-color: #2ba013;
    border-radius: 30px;
    transition: 300ms;
    border: 2px solid #2ba013;
    &:hover {
        background: white;
        color: #2ba013;
    }
}

.card{
    width: 239px;
    height: 400px;
}