
/*1440px*/
@media screen and (max-width:1440px){
    .index-main {
        .hero {
            .hero-div {
                div {
                    h1 {
                        font-size: 40px;
                    }
                    h2 {
                        font-size: 60px;
                    }
                }
            }
        }
        #que-es {
            .right-fusion-paragraph-div {
                flex-direction: column;
                div {
                    p {
                        text-align: center;
                    }
                }
            }
        }
        #proyectate {
            .left-fusion-paragraph-div {
                flex-direction: column;    
                div {
                    p {
                        text-align: center;
                    }
                    a {
                        padding: 2%;
                    }
                }
            }
        }
        #variedad {
            .product-div {
                div {
                    margin: 10px;
                    width: 300px;
                }
            }
        }
    }
    .contacto-main{
        .contact-section{
            width: 100%;
            background-image: url(../img/salad-banner4.jpg);
        }
    }
    .nosotros-main{
        .hero {
            .hero-div {
                div {
                    h1 {
                        font-size: 40px;
                    }
    
                    h2 {
                        font-size: 60px;
                    }
                }
            }
        }  
    }
    .procesos-main {
        .hero {
          .hero-div {
            div {
              h1 {
                font-size: 40px;
              }
      
              h2 {
                font-size: 60px;
              }
            }
          }
        }
        #elaboracion {
          .right-fusion-paragraph-div {
            flex-direction: column;
            .fusion-paragrapfh-div {
              p {
                text-align: center;
              }
            }
          }
        }
        #materia-prima {
          .left-fusion-paragraph-div {
            flex-direction: column;
            .fusion-paragrapfh-div {
              p {
                text-align: center;
              }
            }
          }
        }
    }
    .productos-main {
        .hero {
          .hero-div {
            div {
              h1 {
                font-size: 40px;
              }
      
              h2 {
                font-size: 60px;
              }
            }
          }
        }
        .product-section {
          grid-area: product;
          .left-product-div {
            flex-direction: column;
            align-items: center;
            div {
              h2 {
                text-align: center;
                width: 100%;
              }
              h3 {
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                width: 100%;
              }
            }
          }
          .right-product-div {
            flex-direction: column;
            div {
              h2 {
                text-align: center;
                width: 100%;
              }
              h3 {
                text-align: center;
                padding-left: 0;
                padding-right: 0;
                margin-left: 0;
                width: 100%;
              }
            }
          }
        }
    }
    footer{
        .box-footer-div{
            .content-footer-div{
                div{
                    ul{
                        .title-footer-li{
                            a{
                                font-size: 26px;    
                            }
                        }
                        .item-footer-li{
                            a{
                                font-size: 20px;    
                            }
                        }
                    }
                }
                div{
                    div{
                        ul{
                            .title-footer-li{
                                a{
                                    font-size: 26px;    
                                }
                            }
                            li{
                                p{
                                    font-size: 18px;    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*1300px*/
@media screen and (max-width:1300px) {
    footer{
        .box-footer-div{
            .content-footer-div{
                margin-bottom: 10px;    
                div{
                    ul{
                        .title-footer-li{
                            margin-bottom: 15px;    
                            a{
                                font-size: 21px;   
                            }
                        }
                        .item-footer-li{
                            a{
                                font-size: 15px;    
                            }
                        }
                    }
                }
                div{
                    div{
                        ul{
                            .title-footer-li{
                                a{
                                    font-size: 21px;   
                                }
                            }
                            li{
                                p{
                                    font-size: 15px;    
                                    i{
                                        font-size: 20px;    
                                    }
                                }
                            }
                        }
                    }
                    .media-footer-div{
                        ul{
                            li{
                                a{
                                    i{
                                        margin-top: 5px;
                                        margin-right: 30px;
                                        font-size: 30px;    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*1100px*/
@media screen and (max-width:1100px) {
    header {
        .web-navbar {
            background-color: #2ba013;
        }
    }
    .index-main {
        .hero {
            .hero-div {
                flex-direction: column;
                padding-left: 0%;
                margin: 0;
                text-align: center;
                .cel-index-img {
                    visibility: visible;
                    padding-top: 10%;
                    margin-bottom: 2%;
                    position: static;
                }
                .web-index-img {
                    visibility: hidden;
                    position: absolute;
                }
            }
        }
    
        section {
            margin-bottom: 5%;
        }
        #variedad {
            .product-div {
              flex-wrap: wrap;
            }
        }
    }
    .contacto-main{
        section {
            margin-bottom: 2%;
        }
        .contact-section{
            background-image: none;
            margin-top: 30px;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                form{
                    position: static;
                    text-align: center;
                }
            }
        }
        .comercios-section{
            margin-bottom: 5%;
        }
    }
    .nosotros-main{
        section {
            margin-bottom: 2%;
        }
        .hero {
            .hero-div {
                flex-direction: column;
                padding-left: 0%;
                margin: 0;
                text-align: center;
                .cel-index-img {
                    visibility: visible;
                    padding-top: 10%;
                    margin-bottom: 2%;
                    position: static;
                }
                .web-index-img {
                    visibility: hidden;
                    position: absolute;
                }
            }
        }
        #equipo{
            .large-content-div{
                max-width: 100%;
                div{
                    flex-direction: column;
                    img{
                        max-width: 100%;
                    }
                    div{
                        width: 100%;
                        p{
                            text-align: center;
                            background-color: rgba(255, 255, 255, 0.849);
                            padding: 0;
                            width: 100%;
                            margin-top: 15px;
                            position: static;
                            left: 0;
                        }
                    }
                }
            }
        }
        .pip-section{
            div{
                iframe{
                    width: 98%;
                }
            }
        }
    }
    .procesos-main {
        .hero {
          .hero-div {
            flex-direction: column;
            padding-left: 0%;
            margin: 0;
            text-align: center;
            .cel-index-img {
                visibility: visible;
                padding-top: 10%;
                margin-bottom: 2%;
                position: static;
            }
            .web-index-img {
                visibility: hidden;
                position: absolute;
            }
          }
        }
        section {
            margin-bottom: 2%;
        }
    }
    .productos-main {
        section {
            margin-bottom: 2%;
        }
        .hero {
            .hero-div {
              flex-direction: column;
              padding-left: 0%;
              margin: 0;
              text-align: center;
              .cel-index-img {
                  visibility: visible;
                  padding-top: 10%;
                  margin-bottom: 2%;
                  position: static;
              }
              .web-index-img {
                  visibility: hidden;
                  position: absolute;
              }
          }
            }
    }
    footer{
        .box-footer-div{
            width: 98%;   
        }
    }
    // Clases Boostrap
    .carusel {
        scale: 90%;
      }
}
/*1010px*/
@media screen and (max-width:1010px) {
    .index-main {
        .hero {
            .hero-div {
                div {
                    h1 {
                        font-size: 35px;
                    }
                    h2 {
                        font-size: 55px;
                    }
                }
            }
        }
        section {
            .title-div {
                padding: 15px;
                h2 {
                    font-size: 25px;
                }
    
                h3 {
                    font-size: 25px;
                }
            }
        }
    
        #que-es {
            .right-fusion-paragraph-div {
                img {}
    
                div {
    
                    p {}
                }
            }
        }
    
        #proyectate {
    
            .left-fusion-paragraph-div {
    
    
                img {}
    
                div {
    
                    p {}
    
                    a {
    
                        &:hover {}
                    }
                }
            }
        }
    
        #variedad {
    
            .product-div {
    
                div {
    
                    &:hover {}
    
                    a {
    
    
                        img {}
    
                        h4 {}
    
                        p {}
                    }
                }
            }
        }
    }
    .contacto-main{
        section {
            .title-div {
                padding: 15px;
                h2 {
                    font-size: 25px;
                }
    
                h3 {
                    font-size: 25px;
                }
            }
        }
    }
    .nosotros-main{
        section {
            .title-div {
                padding: 15px;
                h2 {
                    font-size: 25px;
                }
                h3 {
                    font-size: 25px;
                }
            }  
        }
        .hero {
            .hero-div {
                div {
                    h1 {
                        font-size: 35px;
                    }
    
                    h2 {
                        font-size: 55px;
                    }
                }
            }
        }
    }
    .procesos-main {
        .hero {
          .hero-div {
            div {
              h1 {
                font-size: 35px;
              }
              h2 {
                font-size: 55px;
              }
            }
          }
        }
        section {
          .title-div {
            padding: 15px;
            h2 {
                font-size: 25px;
            }
            h3 {
                font-size: 25px;
            }
          }
        }
    }
    .productos-main {
        section {
            .title-div {
              padding: 15px;
              h2 {
                  font-size: 25px;
              }
              h3 {
                  font-size: 25px;
              }
            }
          }
        .hero {
          .hero-div {
            div {
              h1 {
                font-size: 35px;
              }
              h2 {
                font-size: 55px;
              }
            }
      
            .web-index-img {
            }
          }
        }
    }
}
/*950px*/
@media screen and (max-width:950px) {
    header {
        .celular-navbar {
            display: block;
        }
        .web-navbar {
            display: none;
        }
    }
    .index-main {
        grid-template-columns: 2% 96% 2%;
    }
    .contacto-main{
        grid-template-columns: 2% 96% 2%;
    }
    .nosotros-main{
        grid-template-columns: 2% 96% 2%;
        .pip-section{
            div{
                iframe{
                    width: 600px;
                    height: 300px;
                }
            }
        }
    }
    .procesos-main {
        grid-template-columns: 2% 96% 2%;
    }
    .productos-main {
        grid-template-columns: 2% 96% 2%;
    }
    // Clases Boostrap
    .carusel {
        scale: 80%;
      }
}
/*800px*/
@media screen and (max-width:800px) {
    .index-main {
        .hero {
            .hero-div {
                .cel-index-img {
                    padding-top: 15%;
                }
            }
        }
    }
    .nosotros-main{
        .hero {
            .hero-div {
                .cel-index-img {
                    padding-top: 15%;
                }
            }
        }
    }
    .procesos-main {
        .hero {
          .hero-div {
            .cel-index-img {
                padding-top: 15%;
            }
          }
        }
    }
    .productos-main {
        .hero {
          .hero-div {
            .cel-index-img {
                padding-top: 15%;
            }
          }
        }
    }
    footer{
        .box-footer-div{
            .content-footer-div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;    
                div{
                    ul{
                        text-align: center;
                        padding-top: 10px;  
                        .title-footer-li{
                            a{
                                border-bottom: none;  
                                &:hover {
                                    border-bottom: 5px solid #A1137C;
                                    border-top: 5px solid #A1137C;
                                    transition: border 200ms;   
                                }
                            }
                        }
                        .item-footer-li{
                            display: none;    
                        }
                    }
                }
                div{
                    div{
                        ul{
                            .title-footer-li{
                                a{
                                    border-bottom: none;   
                                    &:hover {
                                        border-bottom: 5px solid #A1137C;
                                        border-top: 5px solid #A1137C;
                                        transition: border 200ms;  
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .copy-footer-div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;    
            }
        }
    }
    // Clases Boostrap
    .carusel {
        scale: 60%;
      }
}
/*600px*/
@media screen and (max-width:600px) {
    .index-main {
        .hero {
            .hero-div {
                .cel-index-img {
                    padding-top: 20%;
                }
            }
        }
        #variedad {
            .product-div {
                div {
                    width: 200px;
                    a {
                        p {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
    .nosotros-main{
        .hero {
            .hero-div {
                .cel-index-img {
                    padding-top: 20%;
                }
            }
        }
        #equipo{
            .large-content-div{
                div{
                    div{
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .pip-section{
            div{
                iframe{
                    width: 70%;
                }
            }
        }
    }
    .procesos-main {
        .hero {
          .hero-div {
            .cel-index-img {
                padding-top: 20%;
            }
          }
        }
    }
    .productos-main {
        .hero {
          .hero-div {
            .cel-index-img {
                padding-top: 20%;
            }
          }
        }
    }
    // Clase Boostrap
    .carusel {
        scale: 50%;
      }
}
/*500px*/
@media screen and (max-width:500px) {
    .index-main {
        .hero {
            .hero-div {
                div {
                    h1 {
                        font-size: 25px;
                    }
                    h2 {
                        font-size: 45px;
                    }
                }
    
                .web-index-img {}
            }
        }
        section {
            .title-div {
                img {
                    width: 70px;
                }
                h2 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                h3 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
            }
        }
        #que-es {
            .right-fusion-paragraph-div {
                img {
                    max-width: 80%;
                }
            }
        }
        #proyectate {
            .left-fusion-paragraph-div {
                img {
                    max-width: 80%;
                }
            }
        }
    }
    .contacto-main{
        section {
            margin-top: 40px;
            .title-div {
                img {
                    width: 70px;
                }
                h2 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                h3 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
            }
        }
        .contact-section{
            margin-top: 40px;
            div{
                form{
                    width: 310px;
                    .input-div{
                        input{
                            width: 280px;       
                        }
                    }
                    .textarea-div{
                        textarea{
                            width: 280px;            
                        }
                    }
                }
            }
        }
    }
    .nosotros-main{
        section {
            .title-div {
                img {
                    width: 70px;
                }
    
                h2 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
    
                h3 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
            }
        }
        .hero {
            .hero-div {
                div {
                    h1 {
                        font-size: 25px;
                    }
    
                    h2 {
                        font-size: 45px;
                    }
                }
            }
        }
    }
    .procesos-main {
        .hero {
          .hero-div {
            div {
              h1 {
                font-size: 25px;
              }
      
              h2 {
                font-size: 45px;
              }
            }
          }
        }
        section {
          .title-div {
            img {
                width: 70px;
            }
      
            h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }
      
            h3 {
                font-size: 20px;
                margin-bottom: 15px;
            }
          }
        }
        #elaboracion {
          .right-fusion-paragraph-div {
            img {
                max-width: 80%;
            }
          }
        }
        #materia-prima {
          .left-fusion-paragraph-div {
            img {
                max-width: 80%;
            }
          }
        }
    }
    .productos-main {
         section {
          .title-div {
            img {
                width: 70px;
            }
            h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 15px;
            }
          }
        }
        .hero {
          .hero-div {
            div {
              h1 {
                font-size: 25px;
              }
      
              h2 {
                font-size: 45px;
              }
            }
      
            .web-index-img {
            }
          }
        }
       
    }
}
/*400px*/
@media screen and (max-width:400px) {
    .index-main {
        .hero {
            .hero-div {
                .cel-index-img {
                    padding-top: 25%;
                }
            }
        }
    }
    .nosotros-main{
        .hero {
            .hero-div {
                .cel-index-img {
                    padding-top: 25%;
                }
            }
        }
        .pip-section{
            div{
                iframe{
                    height: 70%;
                }
            }
        }
    }
    .procesos-main {
        .hero {
          .hero-div {
            .cel-index-img {
                padding-top: 25%;
            }
          }
        }
    }
    // Clase Boostrap
    .carusel {
        scale: 40%;
    }
}