/*1440px*/
@media screen and (max-width:1400px) {
    .index-main {
        #que-es {
            .right-fusion-paragraph-div {
                img {
                    max-width: 50%;
                }

                div {
                    p {
                        margin: 20px;
                        width: 100%;
                    }
                }
            }
        }

        #proyectate {
            .left-fusion-paragraph-div {
                flex-direction: column;

                img {
                    max-width: 100%;
                }

                div {
                    p {
                        margin: 0;
                        padding-top: 30px;
                        text-align: center;
                        &:nth-child(2){
                            margin-bottom: 60px;
                        }
                    }

                    a {
                        padding: 2%;
                    }
                }
            }
        }

        #variedad {
            .product-div {
                div {
                    margin: 10px;
                    width: 300px;
                }
            }
        }
    }

    .contacto-main {
        .contact-section {
            width: 100%;
            background-image: url(../img/salad-banner4.jpg);
        }
    }

    .procesos-main {
        #elaboracion {
            .right-fusion-paragraph-div {
                
                img {
                    max-width: 50%;
                }

                .fusion-paragrapfh-div {
                    p {
                        margin: 20px;
                        width: 100%;
                    }
                }
            }
        }

        #materia-prima {
            .left-fusion-paragraph-div {
                flex-direction: column;

                img {
                    max-width: 100%;
                }

                .fusion-paragrapfh-div {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    .productos-main {
        .product-section {
            grid-area: product;

            .left-product-div {
                flex-direction: column;
                align-items: center;
                margin-bottom: 0;
                div {
                    h2 {
                        text-align: center;
                        width: 100%;
                    }

                    h3 {
                        text-align: center;
                        padding-left: 0;
                        padding-right: 0;
                        margin-left: 0;
                        width: 100%;
                    }
                }
            }

            .right-product-div {
                flex-direction: column;
                margin-bottom: 0;
                div {
                    h2 {
                        text-align: center;
                        width: 100%;
                    }

                    h3 {
                        text-align: center;
                        padding-left: 0;
                        padding-right: 0;
                        margin-left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {
        .box-footer-div {
            .content-footer-div {
                margin-bottom: 10px;

                div {
                    ul {
                        .title-footer-li {
                            margin-bottom: 15px;

                            a {
                                font-size: 21px;
                            }
                        }

                        .item-footer-li {
                            a {
                                font-size: 15px;
                            }
                        }
                    }
                }

                div {
                    div {
                        ul {
                            .title-footer-li {
                                a {
                                    font-size: 21px;
                                }
                            }

                            li {
                                p {
                                    font-size: 15px;
                                }

                                i {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .media-footer-div {
                        ul {
                            li {
                                a {
                                    i {
                                        margin-top: 5px;
                                        margin-right: 30px;
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Generales
    .hero {
        .hero-div {
            div {
                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 60px;
                }
            }
        }
    }
    .entrance-right {
        animation-name: in-right-small;
    }
}

/*1100px*/
@media screen and (max-width:1100px) {
    header {
        .web-navbar {
            background-color: $primary-color;
        }
    }

    .index-main {
        #que-es {
            .right-fusion-paragraph-div {
                flex-direction: column;

                img {
                    max-width: 100%;
                }

                div {
                    p {
                        margin: 0;
                        padding-top: 30px;
                        text-align: center;
                    }
                }
            }
        }

        #variedad {
            .product-div {
                flex-wrap: wrap;
            }
        }
    }

    .contacto-main {
        .contact-section {
            background-image: none;
            margin-top: 30px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                form {
                    position: static;
                    text-align: center;
                }
            }
        }

        .comercios-section {
            margin-bottom: 5%;
        }
    }

    .nosotros-main {
        #equipo {
            .large-content-div {
                max-width: 100%;

                div {
                    flex-direction: column;

                    img {
                        max-width: 100%;
                    }

                    div {
                        width: 100%;

                        p {
                            text-align: center;
                            background-color: rgba(255, 255, 255, 0.849);
                            padding: 2%;
                            width: 100%;
                            margin-top: 15px;
                            position: static;
                            left: 0;
                        }
                    }
                }
            }
        }

        .pip-section {
            div {
                iframe {
                    width: 98%;
                }
            }
        }
    }

    .procesos-main {
        #elaboracion {
            .right-fusion-paragraph-div {
                flex-direction: column;

                img {
                    max-width: 100%;
                }

                .fusion-paragrapfh-div {
                    p {
                        text-align: center;
                    }
                }
            }
        }

        #materia-prima {
            .left-fusion-paragraph-div {
                flex-direction: column;

                img {
                    max-width: 100%;
                }

                .fusion-paragrapfh-div {
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }

    footer {
        .box-footer-div {
            width: 98%;
        }
    }

    // Generales
    .hero {
        .hero-div {
            flex-direction: column;
            padding-left: 0%;
            margin: 0;
            text-align: center;

            .cel-index-img {
                visibility: visible;
                padding-top: 10%;
                margin-bottom: 2%;
                position: static;
            }

            div {
                h1 {
                    font-size: 35px;
                }

                h2 {
                    font-size: 55px;
                }
            }

            .web-index-img {
                visibility: hidden;
                position: absolute;
            }
        }
    }

    .carusel {
        scale: 90%;
    }

    section {
        margin-bottom: 5%;

        .title-div {
            padding: 15px;

            h2 {
                font-size: 25px;
            }

            h3 {
                font-size: 25px;
            }
        }
    }

    .entrance-left {
        animation-name: none;
    }

    .entrance-right {
        animation-name: none;
    }
}

/*950px*/
@media screen and (max-width:950px) {
    header {
        .celular-navbar {
            display: block;
        }

        .web-navbar {
            display: none;
        }
    }

    .index-main {
        grid-template-columns: 2% 96% 2%;

        #variedad {
            .product-div {
                div {
                    width: 200px;

                    a {
                        p {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

    .contacto-main {
        grid-template-columns: 2% 96% 2%;

        .contact-section {
            margin-top: 40px;

            div {
                form {
                    width: 310px;

                    .input-div {
                        input {
                            width: 280px;
                        }
                    }

                    .textarea-div {
                        textarea {
                            width: 280px;
                        }
                    }
                }
            }
        }
    }

    .nosotros-main {
        grid-template-columns: 2% 96% 2%;

        #equipo {
            .large-content-div {

                div {
                    flex-direction: column;

                    div {

                        p {
                            padding: 3%;
           
                        }
                    }
                }
            }
        }
        .pip-section {
            div {
                iframe {
                    width: 90vw;
                    height: 60vh;
                }
            }
        }
    }

    .procesos-main {
        grid-template-columns: 2% 96% 2%;
    }

    .productos-main {
        grid-template-columns: 2% 96% 2%;
    }

    footer {
        .box-footer-div {
            .content-footer-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                div {
                    ul {
                        text-align: center;
                        padding-top: 10px;

                        .title-footer-li {
                            a {
                                border-bottom: none;

                                &:hover {
                                    border-bottom: 5px solid $secondary-color;
                                    border-top: 5px solid $secondary-color;
                                    transition: border 200ms;
                                }
                            }
                        }

                        .item-footer-li {
                            display: none;
                        }
                    }
                }

                div {
                    div {
                        ul {
                            .title-footer-li {
                                a {
                                    border-bottom: none;

                                    &:hover {
                                        border-bottom: 5px solid $secondary-color;
                                        border-top: 5px solid $secondary-color;
                                        transition: border 200ms;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .copy-footer-div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                div{
                    text-align: center;
                }
            }
        }
    }

    // Generales
    .hero {
        .hero-div {
            .cel-index-img {
                padding-top: 20%;
            }

            div {
                h1 {
                    font-size: 25px;
                }

                h2 {
                    font-size: 45px;
                }
            }
        }
    }

    .carusel {
        scale: 58%;
    }

    section {
        .title-div {
            img {
                width: 70px;
            }

            h2 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            h3 {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
    }

    // Clases Boostrap
    .card {
        margin: 1px;
    }
    .card-text{
        padding: 5px;
        font-size: 20px;
    }
    .card{
        height: 450px;
    }
}

/*500px*/
@media screen and (max-width:500px) {

    // Generales
    .carusel {
        scale: 40%;
    }



}


// NOTAS
// -En las mediaqueries los elementos que dicen general son elementos que se repiten en todas las paginas, por eso estan declarados por fuera de los main una sola vez
// -De 9 mediaqueries pude reducir a 4, podría bajar a 3 pero el carrousel de productos de boostrap me imposibilita un poco esto puesto que si aplico un porcentaje muy bajo en la mediaquerie de 950 me queda muy pequeño en comparacion con el resto de la pagina.